<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YeetusBot | Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	 crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
	 crossorigin="anonymous">

	</script>
	<script src="https://www.google.com/recaptcha/api.js">

	</script>
	<link rel="stylesheet" href="static/css/style.css" />
</head>

<body>
	<!--
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid">
			<div class="">
				<p class="navbar-brand h1">YeetusBot</p>
			</div>
			<div>
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/">back to home</a></li>
					<li class="nav-item"><a class="nav-link" href="login">login</a></li>
					<li class="nav-item"><a class="nav-link" href="dashboard">dashboard</a></li>
				</ul>
			</div>
		</div>
	</nav>
	-->
	<div class="content container-fluid">
		<div class="mx-auto col-sm-4">
			<h1>Welcome!</h1>
			<p>This is the website for YeetusBot! A discord bot for memeing around</p>
			<p>This bot was made by a discord user called:</p>
			<div class="text-center">
				<img src="https://cdn.discordapp.com/avatars/517524204342476801/ee5b8f78e651eb0ee445ce5807105bd1.png?size=128" class="rounded" aria-hidden="true">
				<p>t0x1c_101</p>
			</div>
			<p>Click <a href="https://discord.com/oauth2/authorize?client_id=746507703635148901&scope=bot&permissions=2147483647">this link</a> to add the bot to your server!</p>
<!--			<p>Or here to <a href="login/">log in</a></p>-->
		</div>
	</div>
    </body>
</html>